[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
blackboxprotobuf = "*"
mintotp = "*"
configparser = "*"

[dev-packages]
flake8 = "*"
isort = "*"
sphinx = "*"

[requires]
python_version = "3.8"

[packages.wyze-sdk]
path = "."
